worker_processes 1;

events { worker_connections 1024; }

http {
    real_ip_header X-Forwarded-For;
    real_ip_recursive on;
    set_real_ip_from 0.0.0.0/0;

    # Rate limiting
    limit_req_zone $binary_remote_addr zone=ui_limit:10m rate=5r/s;

    error_log /dev/stderr warn;

    server {
        listen 80;

        root /usr/share/nginx/html;
        index index.html;

        # expose python version endpoint
        location = /version {
            proxy_pass http://127.0.0.1:3001/version;
        }

        location / {
            limit_req zone=ui_limit burst=10 nodelay;

            mirror /_nginx_log_internal;

            try_files $uri $uri/ /index.html;
        }

        location = /_nginx_log_internal {
            internal;
            proxy_pass http://127.0.0.1:3001/_nginx_log;
            proxy_set_header Content-Type application/json;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Request-URI $request_uri;
            proxy_set_header X-Request-Method $request_method;
            proxy_set_header X-Request-Time $time_iso8601;
            proxy_set_header X-User-Agent $http_user_agent;
            proxy_pass_request_body off;
            proxy_set_header Content-Length "";
        }

        location = /_context {
            limit_req off;
            proxy_pass http://127.0.0.1:3001;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header User-Agent $http_user_agent;
        }
    }
}
